.questions-header {
  background-color: #be212f;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 85%;
  margin-left: 40px;
}

.questions-container {
  margin-top: 20px;
}

.question-text {
  font-size: 20px;
  margin-right: 10px;
  line-height: 1.5;
  width: 85%;
  text-align: justify;
  color: black;
  margin-left: 40px;
  font-weight: bolder;
}

.comment-text {
  font-size: 14px;
  margin-right: 10px;
  line-height: 1.5;
  width: 85%;
  text-align: justify;
  color: black;
  margin-left: 60px;
  font-weight: bolder;
}

.like-text {
  color: black;
}

.question-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.question-category,
.question-topic,
.comment-header {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.comment-form,
.like-button {
  margin-left: 40px;
  margin-top: 10px;
}

.comment-form label {
  margin-left: 40px;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.comment-form textarea {
  width: 100%;
  height: 60px;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  margin-left: 40px;
}

.comment-form button,
.submit-button {
  background-color: #efefef;
  color: #be212f;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin-left: 40px;
}

.comment-form button:hover,
.submit-button:hover {
  background-color: #be212f;
  color: white;
}

.liked-count-text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bolder;
  background-color: #be212f;
  color: white;
  padding: 20px;
  margin-left: 40px;
  width: 25%;
}

.bullet-point {
  margin-right: 5px;
}

.questions-container > div:not(:last-child) {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
